# ------------------------------------- 
## Photon Box
## -------------------------------------

# Types
*.pbm
*.pbt

# Files
Runtime/config.cfg
Runtime/imgui.ini

# Folders
Game/bin/
PhotonBox/bin/
Asset_Converter/bin/
Runtime/bin/
Build/

Game/res/Realistic-Rendering
Game/src/Scenes/RealisticRenderingScene.cpp
Runtime/res/Realistic-Rendering

## ------------------------------------- 
## Visual studio
## -------------------------------------

# Types
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Folders
.vs/


## ------------------------------------- 
## Codelite
## -------------------------------------

# Types
*.mk
*.project
*.workspace

# Files
Makefile
Game/Game.txt
PhotonBox/PhotonBox.txt

# Folders
.codelite/
.build-debug/
.build-release/


Runtime/res
